<nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" role="navigation">
	<ul class="cd-primary-nav">
		{{navigation}}
	</ul>
</nav>

<div class="cd-overlay-nav">
	<span></span>
</div> 
<!-- cd-overlay-nav -->

<div class="cd-overlay-content">
	<span></span>
</div> 
<!-- cd-overlay-content -->

<div class="nav-btn">
	<a nohref class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
</div>