<!DOCTYPE html>
<html class="no-js">

<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}</title>
    <meta itemprop="url" content="{{ site.title }}">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/favicon.ico">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="assets/js/modernizr.js"></script>
</head>

<body>
    {% include header.html %}
    <div class="cd-content">
        {{ content }}
    </div>
    {% include footer.html %}
    {% include sharing.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="assets/js/fitvids.js"></script>
    <script src="assets/js/velocity.js"></script>
    <script src="assets/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/prism.css" />
    <script type="text/javascript" src="assets/js/prism.js"></script>
</body>

</html>